.header {
  z-index: 999;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  height: 80px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: background-color 0.5s;
  box-shadow: 0px 7px 10px -1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 7px 10px -1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 7px 10px -1px rgba(0, 0, 0, 0.05);
  &.scrolled {
    background-color: white;
  }
  .header-left {
    display: none;
    .logo-small {
      width: 40px;
    }
    .logo-big {
      display: none;
    }
  }
  .search-small {
    transition: background-color 0.5s;
    background-color: white;
    display: flex;
    height: 46px;
    width: calc(100% - 50px);
    justify-content: center;
    border-radius: 40px;
    font-weight: 500;
    font-size: 15px;
    color: rgb(34, 34, 34);
    align-items: center;
    cursor: pointer;
    &.scrolled {
      background-color: rgb(239, 239, 239);
    }
    .search-icon {
      fill: #ff385c !important;
      margin-right: 5px;
    }
  }
  .search-larger {
    display: none;
  }
  .header-right {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    background-color: #fff;
    padding: 0 40px;
    justify-content: unset;
    .header-left {
      display: block;
      margin-right: 24px;
    }
    .search-small {
      display: none;
    }
    .header-center {
      flex: 1;
      .search-larger {
        display: flex;
        background-color: white;
        box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%) !important;
        border: 1px solid rgb(219, 219, 219);
        height: 46px;
        width: 300px;
        justify-content: space-between;
        border-radius: 40px;
        font-weight: 500;
        font-size: 15px;
        color: rgb(34, 34, 34);
        align-items: center;
        cursor: pointer;
        transition: box-shadow 0.5s;
        &:hover {
          transition: box-shadow 0.3s;
          box-shadow: 0px 2px 3px rgb(0 0 0 / 10%), 0px 4px 12px rgb(0 0 0 / 5%) !important;
        }
        .search-larger-text-wrapper {
          margin-left: 24px;
        }
        .search-larger-icon-wrapper {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 8px;
          background-color: #ff385c;
          border-radius: 50%;
          .search-icon {
            margin-right: 0;
            fill: white !important;
            font-size: 18px !important;
          }
        }
      }
    }
    .header-right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .header-right-text {
        font-weight: 500;
        font-size: 15px;
        color: rgb(34, 34, 34);
        cursor: pointer;
        padding: 10px 15px;
        text-align: center;
        border-radius: 40px;
        &:hover {
          background-color: rgb(239, 239, 239);
        }
      }
      .header-right-menu {
        padding: 5px 5px 5px 12px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: 5px;
        box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%) !important;
        border: 1px solid rgb(219, 219, 219);
        &:hover {
          transition: box-shadow 0.3s;
          box-shadow: 0px 2px 3px rgb(0 0 0 / 10%), 0px 4px 12px rgb(0 0 0 / 5%) !important;
        }
        .header-right-menu-icon {
          font-size: 18px !important;
          margin-right: 15px;
          color: #222;
        }
        .header-right-person-icon {
          fill: white !important;
          background-color: #717171;
          border-radius: 50%;
          font-size: 28px !important;
        }
      }
      .header-right-language-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 38px;
        width: 38px;
        &:hover {
          background-color: rgb(239, 239, 239);
          border-radius: 50%;
        }
        .header-right-language-icon {
          color: rgb(34, 34, 34);
          font-size: 18px !important;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 0 80px;
    .header-left {
      flex: 1;
      .logo-small {
        display: none;
      }
      .logo-big {
        display: block;
        height: 32px;
      }
    }
  }
}
